<div class="row -rowESTILO">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!-- INICIO BOTON AGREGAR -->
    <div class="float-end" *ngIf="isLogged">
      <a href="#" class="-btnCRUD" routerLink="/educacion-new">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <!-- FIN BOTON AGREGAR -->

    <!-- INICIO TITULO -->
    <h2>
      <span class="-fontVIOLETA">.</span>
      <span class="-fontAMARILLO">educacion</span>
    </h2>
    <!-- FIN TITULO -->

    <!-- INICIO LISTA -->
    <dl *ngFor="let educacion of educacionArray">

      <!-- INICIO BOTON EDITAR Y BORRAR -->
      <div class="float-end" *ngIf="isLogged">
        <a href="#" class="-btnCRUD" routerLink="/educacion-edit/{{educacion.id}}">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="-btnCRUD" (click)="delete(educacion.id)">
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
      <!-- FIN BOTON EDITAR Y BORRAR -->

      <!-- INICIO DATOS -->
      <dt class="-fontTITULO -fontVIOLETA">{{educacion.tituloEd}}</dt>
      <dd class="fst-italic mb-0">{{educacion.institucion}}</dd>
      <dd class="text-muted mb-0">{{educacion.fechaInicio}} - {{educacion.fechaFin}}</dd>
      <dd class="-mb18PX">{{educacion.descripcionEd}}</dd>   
      <!-- FIN DATOS -->

    </dl>
    <!-- FIN LISTA -->
  </div>
</div>