<app-header></app-header>

<div class="container -contFORM" *ngIf="proyecto">
    <div class="row -rowESTILO -rowFORM">
        <!-- INICIO TITULO -->
        <h2>
            <span class="-fontVIOLETA">.</span>
            <span class="-fontAMARILLO">proyecto/edit</span>
        </h2>
        <!-- FIN TITULO -->

        <!-- INICIO FORMULARIO -->
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
               <div class="form-group">
                    <label for="tituloPr">Título</label>
                    <input type="text" class="form-control" id="tituloPr" name="tituloPr" [(ngModel)]="proyecto.tituloPr" required>   
                </div>
                <div class="form-group">
                    <label for="descripcionPr">Descripción</label>
                    <input type="text" class="form-control" id="descripcionPr" name="descripcionPr" [(ngModel)]="proyecto.descripcionPr" required>
                </div>
                <div class="form-group">
                    <label for="imgPr">Url de la Img</label>
                    <input type="text" class="form-control" id="imgPr" name="imgPr" [(ngModel)]="proyecto.imgPr" required>
                </div>
                <div class="form-group">
                    <label for="repositorio">Url del repositorio</label>
                    <input type="text" class="form-control" id="repositorio" name="repositorio" [(ngModel)]="proyecto.repositorio" required>
                </div>

                <!-- INICIO BOTON SUBMIT -->
                <div class="-btnOK">
                    <button class="btn btn-light">
                        <i class="fa-solid fa-thumbs-up"></i>
                    </button>
                </div>
                <!-- FIN BOTON SUBMIT -->   
            </form>
        </div>
        <!-- FIN FORMULARIO -->
    </div>
</div>

<app-footer></app-footer>